<div class="card">
  <div class="card-body">
    <div class="m-b-10">
      <label>Select file to encode</label>
      <div
        class="fileinput fileinput-new input-group"
        data-provides="fileinput"
      >
        <div class="form-control" data-trigger="fileinput">
          <i class="fa fa-file fileinput-exists"></i>
          <span class="fileinput-filename"></span>
        </div>
        <span class="input-group-addon btn btn-outline-primary btn-file">
          <span class="fileinput-new">Browse</span>
          <span class="fileinput-exists">Change</span>
          <input type="file" name="..." />
        </span>
        <a
          href="#"
          class="input-group-addon btn btn-outline-primary fileinput-exists"
          data-dismiss="fileinput"
          >Remove</a
        >
      </div>
    </div>
    <div class="btn-group d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="encodeToBase64()"
      >
        Encode
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-8">Base64</div>
      <div class="col-4">
        <div
          class="btn-group m-b-10 d-grid gap-2 d-md-flex justify-content-md-end"
          role="group"
          aria-label="Basic outlined example"
        >
          <button
            class="btn btn-outline-primary"
            (click)="clear()"
            value="click to copy"
            type="button"
          >
            Clear
          </button>
          <button
            class="btn btn-outline-primary"
            (click)="copyText()"
            value="click to copy"
            type="button"
          >
            Copy
          </button>
        </div>
      </div>
    </div>

    <div class="form-floating">
      <textarea class="form-control" disabled readonly>{{
        textConverted
      }}</textarea>
    </div>

    <!-- <ion-icon name="copy-outline"></ion-icon> -->
  </div>
</div>
